# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Build files
build/
dist/
*.spec

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/